
2a parte/.ipynb_checkpoints/NaiveBayes-checkpoint.ipynb
2a parte/.ipynb_checkpoints/NaiveBayes-checkpoint.ipynb
2a parte/.ipynb_checkpoints/Preprocessing and visualization-checkpoint.ipynb
2a parte/.ipynb_checkpoints/SVM-checkpoint.ipynb
2a parte/.ipynb_checkpoints/SVM-checkpoint.ipynb
2a parte/.ipynb_checkpoints/SVM-checkpoint.ipynb
